*{
    box-sizing: border-box;
}
ul li a{
    font-size: 2rem;
    font-weight: 500;
}

.title-text{
    font-size: 3rem;
    font-weight: 700;
}
.nav{
    background-color: #229799;
    border-radius: 5px;
    opacity: 0.8;
    color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
a:hover{
    text-decoration: underline;
}