*{
    box-sizing: border-box;
}
ul li a{
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
}

.title-text{
    font-size: var(--font-size-title);
    font-weight: var(-font-weight-bold);
}
.nav{
    background-color: var(--color-navbar);
    border-radius: 5px;
    opacity: 0.8;
    color: var(--color-);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
a:hover{
    text-decoration: underline;
}
[data-theme='dark'] .nav {
    background-color: var(--color-navbar);
    color: var(--color-navbar-text);
}